@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-Bold.woff2') format('woff2'),
      url('./fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-LightItalic.woff2') format('woff2'),
      url('./fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-Light.woff2') format('woff2'),
      url('./fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
 
body{
  margin: 0;
}

.wrapper{
  overflow: hidden;
  min-width: 1100px;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

p{
  margin: 0;
}

h2{
  margin: 0 auto;
  font-family: "Gotham Pro";
  font-weight: bold;
  font-size: 49px;
}

.header{
  background: #2b2b40;
}

.container{
  margin: 0 auto;
  width: 1100px;
  position: relative;
}

.header__container{
  height: 77px;
}




.logo__header{
  width: 99px;
  height: 51px;
  position: absolute;
  top: 13px;
  left: 19px;
}

.contacts{
   position: absolute;
   top: 18px;
   right: 21px;
 }

 .contacts__phone{
  font-family: 'Gotham Pro';
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: right;
  font-size: 21px;
 }
 
.contacts__workhours{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #cb2376;
  text-decoration: underline;
  text-align: right;
  font-size: 14px;
  opacity: 0.7;
}

.banner{
  background-color: #27273d;
  height: 359px;
  margin-bottom: 52px;
}


.sidebar, .content-text{
  display: inline-block;
  vertical-align: top;
}

.sidebar{
  width: 170px;
  margin-right: 4px;
  padding-left: 20px;
}

.menu__list{
  padding-top: 9px;
}

.menu__link{
  font-family: 'Gotham Pro';
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cb2376;
  letter-spacing: 1.2px;
}

.menu__link:hover{
  color: black;
}

.menu__link:before{
  content: "";
  display: inline-block;
  margin-right: 16px;
  vertical-align: sub;
  width: 20px;
  height: 18px;
  background: left center / contain no-repeat;
}

.menu__item:not(:last-child){
  margin-bottom: 31px;
}

.menu__item--active .menu__link{
  color: black;
  text-decoration: underline #b4b4b4;
}

.menu__item--icon--main .menu__link:before{
  background-image: url(./img/icon/main_icon.png);
}

.menu__item--icon--main .menu__link:hover:before{
  background-image: url(./img/icon/main_icon-hover.png);
}

.menu__item--icon--feed .menu__link:before{
  background-image: url(./img/icon/feed_icon.png);
}

.menu__item--icon--feed .menu__link:hover:before{
  background-image: url(./img/icon/feed_icon-hover.png);
}

.menu__item--icon--wallet .menu__link:before{
  background-image: url(./img/icon/wallet_icon.png);
}

.menu__item--icon--wallet .menu__link:hover:before{
  background-image: url(./img/icon/wallet_icon-hover.png);
}

.menu__item--active.menu__item--icon--main .menu__link:before{
  background-image: url(./img/icon/main_icon-hover.png);
}

.menu__item--active.menu__item--icon--feed .menu__link:before{
  background-image: url(./img/icon/feed_icon-hover.png);
}

.menu__item--active.menu__item--icon--wallet .menu__link:before{
  background-image: url(./img/icon/wallet_icon-hover.png);
}

.content-text{
  width: 900px;
  font-family: 'Gotham Pro';
  color: #262424;
  margin-bottom: 67px;
}

.features{
  margin-bottom: 67px;
  padding-right: 56px;
}

.features__headline{
  margin-top: 0;
  margin-bottom: 55px;
}

.features__list{
  text-align: center;
  margin-right: 51px;
}

.features__list-option{
  width: 207px;
  display: inline-block;
  vertical-align: top;
}

.features__list-option:not(:last-child){
  margin-right: 59px;
}

.features__icon{
  background-color: #2b2b40;
  margin: 0 auto;
  position: relative;
}

.features__icon--flower{
  width: 68px;
  height: 68px;
  border-radius: 34px;
  margin-bottom: 33px;
}

.features__icon--star{
  width: 72px;
  height: 72px;
  border-radius: 36px;
  margin-bottom: 28px;
}

.features__icon-palette{
  width: 66px;
  height: 66px;
  border-radius: 33px;
  margin-bottom: 33px;
}

.icon__png{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features__name{
  font-size: 11px;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto 19px;
}

.features__option{
  line-height: 30px;
  font-size: large;
}

.features__paragraph{
  font-weight: 300;
  font-style: normal;
  margin-bottom: 4px;
  font-size: large;
}

.features__option-item{
  list-style: disc;
  color: #b03664;
  list-style-position: inside;
  margin-bottom: 5px;
  text-align: left;
}

.features__option--text{
  color: #262424;
  padding-left: 17px;
  letter-spacing: 1.42px;
  font-size: large;
}

.title{
  margin-bottom: 68px;
}

.news__avatar, .news__content{
  display: inline-block;
  vertical-align: top;
}

.news__list{
  margin-bottom: 62px;
}

.news__avatar--frame{
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

.news__avatar{
  width: 160px;
  margin-right: 11px;
}

.news__content{
  width: 685px;
  color: #262424;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
}

.news__date{
  font-weight: 300;
  color: #656464;
  font-size: 14px;
}

.news__title{
  font-weight: 700;
  margin-bottom: 9px;
  letter-spacing: 1.2px;
}

.news__text{
  font-weight: 400;
  line-height: 30px;
  font-size: large;
}

.news__item:not(:last-child){
  margin-bottom: 49px;
}

.pagination{
  margin: 0 auto;
  text-align: center;
}

.pagination__display,
.pagination__controlls{
  display: inline-block;
  vertical-align: sub;
}

.pagination__display{
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  vertical-align: sub;
  margin-right: 10px;
}

.pagination__left{
  vertical-align: middle;
  text-decoration: none;
}

.pagination__right{
  vertical-align: middle;
  text-decoration: none;
}

.pagination__list{
  display: inline-block;
  vertical-align: middle;
}

.pagination__item{
  display: inline;
}

.pagination__link{
  color: #262424;
  float: left;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}


.pagination__link:hover{
  background-color: #2b2b40;
  color: white;
  border-radius: 5px;
}

.footer{
  background-color: #2b2b40;
}

.footer__container{
  height: 77px;
}

.copyright{
  position: absolute;
  top: 14px;
  left: 19px;
  width: 270px;
  height: 50px;
  color: white;
  font-family: "Gotham Pro";
  font-size: 14px;
}

.logo__footer{
  position: absolute;
  top: 14px;
  left: 499px;
}

.socials{
  position: absolute;
  top: 17px;
  right: 20px;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.socials__title{
  margin-bottom: 8px;
}

.socials__item{
  display: inline-block;
  vertical-align: top;
  background-color: #d3d3d7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.socials__item:not(:last-child){
  margin-right: 6px;
}

.socials__logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socials__item:hover{
  background-color: #cb2376;
  border-radius: 10px;
}