@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-Bold.woff2') format('woff2'),
      url('./fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-LightItalic.woff2') format('woff2'),
      url('./fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/GothamPro-Light.woff2') format('woff2'),
      url('./fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body{
  margin: 0;
}

.wrapper{
  overflow: hidden;
  min-width: 1100px;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

p{
  margin: 0;
}

h2{
color: #262424;
font-family: "Gotham Pro";
font-size: 49px;
font-weight: bold;
margin: 0;
}

.header{
  background: #2b2b40;
  margin-bottom: 34px;
}

.container{
  margin: 0 auto;
  width: 1100px;
}

.header__container{
  height: 77px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo__header{
  width: 99px;
  height: 51px;
  padding-left: 19px;
}

.contacts{
  padding-right: 20px;
}

.contacts__phone{
  font-family: 'Gotham Pro';
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: right;
  font-size: 21px;
 }

.contacts__workhours{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #cb2376;
  text-decoration: underline;
  text-align: right;
  font-size: 14px;
  opacity: 0.7;
}

.container__reviews{
  display: flex;
}

.sidebar{
  width: 170px;
  padding-left: 20px;
  margin-right: 7px;
}

.menu__list{
  padding-top: 9px;
}

.menu__link{
  font-family: 'Gotham Pro';
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cb2376;
  letter-spacing: 1.2px;
}

.menu__link:hover{
  color: black;
}

.menu__link:before{
  content: "";
  display: inline-block;
  margin-right: 16px;
  vertical-align: sub;
  width: 20px;
  height: 18px;
  background: left center / contain no-repeat;
}

.menu__item:not(:last-child){
  margin-bottom: 31px;
}

.menu__item--active .menu__link{
  color: black;
  text-decoration: underline #b4b4b4;
}

.menu__item--icon--main .menu__link:before{
  background-image: url(./img/icon/main_icon.png);
}

.menu__item--icon--main .menu__link:hover:before{
  background-image: url(./img/icon/main_icon-hover.png);
}

.menu__item--icon--feed .menu__link:before{
  background-image: url(./img/icon/feed_icon.png);
}

.menu__item--icon--feed .menu__link:hover:before{
  background-image: url(./img/icon/feed_icon-hover.png);
}

.menu__item--icon--wallet .menu__link:before{
  background-image: url(./img/icon/wallet_icon.png);
}

.menu__item--icon--wallet .menu__link:hover:before{
  background-image: url(./img/icon/wallet_icon-hover.png);
}

.menu__item--active.menu__item--icon--main .menu__link:before{
  background-image: url(./img/icon/main_icon-hover.png);
}

.menu__item--active.menu__item--icon--feed .menu__link:before{
  background-image: url(./img/icon/feed_icon-hover.png);
}

.menu__item--active.menu__item--icon--wallet .menu__link:before{
  background-image: url(./img/icon/wallet_icon-hover.png);
}

.content__reviews{
  width: 900px;
}

.breadcrumbs{
  padding-top: 6px;
  margin-bottom: 17px;
}

.breadcrumbs__list{
  display: flex;
}

.breadcrumbs__item:after{
  content: "/";
  font-family: "Gotham Pro";
  font-weight: 300;
  font-style: italic;
}

.breadcrumbs__item:last-child:after{
  display: none;
}
.breadcrumbs__link{
  font-family: "Gotham Pro";
  font-weight: 300;
  font-style: italic;
  color: #cb2376;
  font-size: 14px;
}

.breadcrumbs__link--active{
  text-decoration: none;
  color: #262424;
  font-family: "Gotham Pro";
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
}

.reviews{
  margin-bottom: 56px;
}

.reviews__title{
  margin-bottom: 35px;
}

.reviews__list{
  margin-bottom: 39px;
}

.reviews__item{
  display: flex;
}

.reviews__item:not(:last-child){
  margin-bottom: 48px;
}

.reviews--frame{
  width: 160px;
  height: 160px;
  border-radius: 80px;
  padding-top: 6px;
  margin-right: 23px;
  position: relative;
  background-color: #f5f5f5;
}

.reviews__avatar-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__content{
  width: 690px;
  font-family: "Gotham Pro";
  font-size: 18px;
  color: #656464;
}

.reviews__date{
  color: #656464;
  font-size: 14px;
  font-weight: 300;
}

.reviews__name{
  font-weight: bold;
  padding-top: 5px;
  margin-bottom: 10px;
}

.reviews__text{
  line-height: 30px;
}

.pagination,
.pagination__controlls,
.pagination__list,
.pagination__link{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.pagination{
  font-family: "Gotham Pro";
  font-size: 14px;
  padding-right: 127px;
}

.pagination__display{
  color: #656464;
  margin-right: 22px;
}

.pagination__list{
  margin-right: 10px
}

.pagination__item{
  width: 25px;
  height: 25px;
}

.pagination__link{
  text-decoration: none;
  color: #262424;
  font-weight: bold;
  width: 25px;
  height: 25px;
}

.pagination__link:hover{
  background-color: #2b2b40;
  color: #cb2376;
  border-radius: 5px;
}

.pagination__link--active{
  text-decoration: none;
  background-color: #2b2b40;
  color: #cb2376;
  border-radius: 5px;
}

.pagination__left,
.pagination__right{
  text-decoration: none;
  color: #262424;
  font-weight: bold;
}

.pagination__left{
  margin-right: 10px;
}

.sale{
  background-color: #2b2b40;
  background-image: url(./img/comments/pattern.png);
  height: 174px;
}

.container__sale{
  display: flex;
  justify-content: center;
  padding-top: 48px;
}

.sale__text{
  width: 612px;
  height: 77px;
  font-family: "Gotham Pro";
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
}

b{
  color: #cb2376;
}
