*{
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

p{
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

h2{
  font-weight: bold;
  font-size: 49px;
  line-height: 38px;
}

h3{
  font-size: 24px;
  font-weight: bold;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  font-family: "Gotham Pro";
  color: #262424;
}

.wrapper{
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content{
  flex: 1;
}

.container{
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-flow: row nowrap;
}

.content{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.page-prices{
  margin-bottom: 61px;
}

.page-reviews{
  margin-bottom: 49px;
}

.page-home{
  margin-bottom: 70px;
}