.anime-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/anime-banner.png") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: anime 1s;
}

.welcome__link{
  color: #ec1e79;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 17px 23px;
  border: 3px solid #ec1e79;
  text-decoration: none;
}

.welcome__link:hover{
  color: white;
  background: #ec1e79;
  transition: .5s;
}

.welcome__logo{
  margin-bottom: 30px;
}

@keyframes anime{
  0%{
    opacity: 0;
    transform: scale(.2) rotate(-30deg);
  }

  25%{
    transform: rotate(20deg);
  }

  50%{
    transform: rotate(-10deg);
  }

  75%{
    transform: rotate(5deg);
  }

  100%{
    opacity: 100;
    transform: scale(1);
  }
}
