.breadcrumbs{
  margin-bottom: 23px;
}

.breadcrumbs__list{
  display: flex;
}

.breadcrumbs__item:after{
  content: "/";
  font-family: "Gotham Pro";
  font-weight: 300;
  font-style: italic;
}

.breadcrumbs__item:last-child:after{
  display: none;
}
.breadcrumbs__link{
  font-family: "Gotham Pro";
  font-weight: 300;
  font-style: italic;
  color: #cb2376;
  font-size: 14px;
}

.breadcrumbs__link--active{
  text-decoration: none;
  color: #262424;
  font-family: "Gotham Pro";
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
}