address{
  font-style: normal;
}

.contacts{
  padding-right: 21px;
}

.contacts__phone{
  font-family: 'Gotham Pro';
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: right;
  font-size: 21px;
 }

.contacts__workhours{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #cb2376;
  text-decoration: underline;
  text-align: right;
  font-size: 14px;
  opacity: 0.7;
}