.features{
  margin-bottom: 76px;
}

.features__headline{
  margin-bottom: 62px;
}

.features__list{
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  padding-left: 14px;
}

.features__list-option{
  width: 26%;
  display: flex;
  flex-direction: column;
}

.features__list-option:not(:last-child){
  margin-right: 45px;
}

.features__icon{
  background-color: #2b2b40;
  margin: 0 auto;
  position: relative;
}

.features__icon--flower{
  width: 68px;
  height: 68px;
  border-radius: 34px;
  margin-bottom: 35px;
}

.features__icon--star{
  width: 72px;
  height: 72px;
  border-radius: 36px;
  margin-bottom: 30px;
}

.features__icon-palette{
  width: 66px;
  height: 66px;
  border-radius: 33px;
  margin-bottom: 36px;
}

.icon__png{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features__name{
  font-size: 11px;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto 19px;
}

.features__option{
  line-height: 30px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__paragraph{
  font-weight: 300;
  font-style: normal;
  margin-bottom: 4px;
  font-size: large;
}

.features__option-item{
  list-style: disc;
  color: #b03664;
  list-style-position: inside;
  margin-bottom: 5px;
  text-align: left;
}

.features__option--text{
  color: #262424;
  padding-left: 17px;
  letter-spacing: 1.42px;
  font-size: large;
}