

.features{
  padding: 27px 26px 17px 45px;
  margin-left: 20px;
  text-align: center;
  border: 1px solid #e8e8ec;
  margin-bottom: 26px;
}

.features__title{
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.features__headline{
  margin-bottom: 62px;
}

.features__list{
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  padding-left: 14px;
}

.features__list-option{
  width: 26%;
  display: flex;
  flex-direction: column;
}

.features__name{
  font-size: 11px;
  font-weight: bold;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto 16px;
}

.features__option{
  line-height: 30px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__paragraph{
  font-weight: 300;
  font-style: normal;
  margin-bottom: 4px;
  font-size: large;
}

.features__option-item{
  list-style: disc;
  color: #b03664;
  list-style-position: inside;
  margin-bottom: 5px;
  text-align: left;
}

.features__option--text{
  color: #262424;
  padding-left: 17px;
  letter-spacing: 1.42px;
  font-size: large;
}