.footer{
  background: #2b2b40;
}

.footer__container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 23px;
}

.copyright{
  width: 25%;
  font-family: "Gotham Pro";
  color: #ffffff;
  font-size: 14px;
}


