.footer{
  background: #2b2b40;
}

.footer__container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.copyright{
  width: 286px;
  font-family: "Gotham Pro";
  color: #ffffff;
  font-size: 14px;
  padding-left: 19px;
}

.logo__footer{
  padding-right: 99px;
}

.socials{
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.socials__list{
  display: flex;
}

.socials__title{
  margin-bottom: 8px;
}

.socials__item{
  background-color: #d3d3d7;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.socials__item:not(:last-child){
  margin-right: 11px;
}

.socials__logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socials__item:hover{
  background-color: #cb2376;
  border-radius: 10px;
}