.form{
  width: 88%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 50px 99px;
}

.form__title{
  margin-bottom: 26px;
}

.form__row,
.form__buttons-row,
.switch-controls__buttons,
.switch-controls__elem{
  display: flex;
  flex-direction: row;
}

.form__block{
 flex: 1;
 margin-left: 20px;
}

.form__block:first-child{
  margin-left: 0;
}

.form__elem-title{
  margin-bottom: 7px;
}

.form__row:not(:last-child){
 margin-bottom: 19px;
}

.form__input{
  width: 100%;
  background: #fff;
  padding: 13px 10px;
  opacity: 0.5;
  color: #262424;
  font-family: "Gotham Pro";
  font-size: 14px;
  border: 1px solid transparent;
}

.form__input:focus{
  outline: none;
  border-color: #cb2376;
}

.form__content{
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.form__element{
  color: #262424;
  font-family: "Gotham Pro";
  font-size: 14px;
}

.form__input--textarea{
  resize: vertical;
  height: 90px;
  padding-top: 6px;
}

.form__buttons-row{
  justify-content: space-between;
}

.switch-controls__title{
  margin-bottom: 10px;
}

.switch-controls__elem{
  margin-right: 17px;
  display: block;
}

.switch-controls__app{
  width: 20px;
  height: 20px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  position: relative;
  margin-right: 6px;
}

.switch-controls__app:before{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s;
}

.switch-controls__radio-text{
  display: flex;
  align-items: center;
}

.switch-controls__radio:checked ~ .switch-controls__radio-text .switch-controls__app{
  border: 1px solid #cb2376;
}

.switch-controls__radio:checked ~ .switch-controls__radio-text .switch-controls__app::before{
  width: 8px;
  height: 8px;
  background: #cb2376;
}

.switch-controls__radio:checked ~ .switch-controls__radio-text .switch-controls__radio-title{
  color: #cb2376;
}

.switch-controls__radio{
 margin: 0;
 display: none;
}

.btn{
  padding: 16px 20px;
  background-color: #2b2b40;
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  background-color: #cb2376;
}