.header{
  background: #2b2b40;
}

.header__container-home{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.header__container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  margin-bottom: 43px;
}

.header__container-pr{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  margin-bottom: 30px;
}

.logo__header{
  width: 99px;
  height: 51px;
}