.header{
  background: #2b2b40;
}

.header__container-home{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}

.header__container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  margin-bottom: 43px;
}

.logo__header{
  width: 99px;
  height: 51px;
  padding-left: 19px;
}