.title{
  margin-bottom: 75px;
}


.news__list{
  margin-bottom: 20px;
}

.news__item{
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 18px;
}

.news__avatar--frame{
  border-radius: 80px;
}

.news__avatar{
  width: 21%;
  margin-right: 19px;
}

.news__content{
  width: 685px;
  color: #262424;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  display: flex;
  flex-direction: column;
}

.news__date{
  font-weight: 300;
  color: #656464;
  font-size: 14px;
}

.news__title{
  font-weight: 700;
  margin-bottom: 9px;
  letter-spacing: 1.2px;
}

.news__text{
  font-weight: 400;
  line-height: 30px;
  font-size: large;
}

.news__item:not(:last-child){
  margin-bottom: 27px;
  border-bottom: 2px solid #f4f4f4;
}