.partners__title{
  margin-bottom: 48px;
}

.partners__list{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 64px;
}

.partners__item{
  flex-basis: 30%;
  height: 91px;
}