.partners{
  padding: 27px 62px;
  margin-left: 21px;
  border: 1px solid #e8e8ec;
  margin-bottom: 24px;
}

.partners__title{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 45px;
}

.partners__list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners__item{
  display: block;
}

.partners__item:not(:last-child){
  margin-bottom: 40px;
}

.partners__img{
  filter: grayscale(100%);
  transition: .5s;
}

.partners__img:hover{
  filter: none;
}