.prices__title{
  margin-bottom: 50px;
}

.prices__list{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 49px;
}

.prices__item{
  width: 250px;
  margin-right: 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 41px;
  line-height: 21px;
}

.prices__item:nth-child(3n){
  margin-right: 0;
}

.prices__item:nth-child(4),
.prices__item:nth-child(5),
.prices__item:nth-child(6){
  margin-bottom: 0;
}

.prices__picture{
  width: 250px;
  height: 153px;
  position: relative;
  margin-bottom: 23px;
}

.prices__picture::before{
  content: "";
  position: absolute;
  width: 250px;
  height: 153px;
  top: 0;
  left: 0;
  background-color: #2b2b40;
  opacity: 0.85;
  border-radius: 5px;
}

.picture__tariff-name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gotham Pro";
  line-height: 34px;
  text-transform: uppercase;
  width: 200px;
  text-align: center;
}

.prices__name{
  color: #8ad0f6;
}

.prices__name-vip{
  color: #cb2376;
}

.prices__tariff{
  font-family: "Gotham Pro";
  font-size: 18px;
  color: #262424;
  font-weight: bold;
  margin-bottom: 10px;
}

.prices__text{
  font-family: "Gotham Pro";
  font-size: 14px;
}