.sale{
  background-color: #2b2b40;
  background-image: url(../../img/comments/pattern.png);
}

.container__sale{
  display: flex;
  justify-content: center;
  padding: 42px 0;
  margin-bottom: 57px;
}

.sale__text{
  width: 634px;
  font-family: "Gotham Pro";
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
}

.sale__text strong{
  color: #cb2376;

}