.sidebar__home{
  width: 45%;
  padding-left: 26px;
}

.sidebar{
  width: 57%;
  margin-bottom: 27px;
}

.menu{
  display: flex;
  flex-flow: row nowrap;
}

.menu__list{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.menu__link{
  font-family: 'Gotham Pro';
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cb2376;
  letter-spacing: 1.2px;
  transition: .5s;
  display: flex;
  align-items: center;
}

.menu__link-home{
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  transition: .5s;
  display: flex;
  align-items: center;
  color: white;
}

.menu__link-home:hover{
  color: #cb2376;
}

.menu__link:hover{
  color: black;
}

.menu__link:before{
  content: "";
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  width: 20px;
  height: 18px;
  vertical-align: sub;
  background: left center / contain no-repeat;
}

.menu__link-home:before{
  content: "";
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  width: 20px;
  height: 18px;
  vertical-align: sub;
  background: left center / contain no-repeat;
}

.menu__item--active .menu__link-home{
  color: #cb2376;
  text-decoration: underline #cb2376;
}

.menu__item--active .menu__link{
  color: black;
  text-decoration: underline #b4b4b4;
}

.menu__item--icon--main .menu__link-home:before{
  background-image: url(../../img/icon/main_icon1.png);
}

.menu__item--icon--feed .menu__link-home:before{
  background-image: url(../../img/icon/feed_icon.png);
}

.menu__item--icon--wallet .menu__link-home:before{
  background-image: url(../../img/icon/wallet_icon.png);
}

.menu__item--icon--feed .menu__link-home:hover:before{
  background-image: url(../../img/icon/feed_icon1.png);
}

.menu__item--icon--wallet .menu__link-home:hover:before{
  background-image: url(../../img/icon/wallet_icon1.png);
}

.menu__item--icon--main .menu__link:before{
  background-image: url(../../img/icon/main_icon1.png);
}

.menu__item--icon--main .menu__link:hover:before{
  background-image: url(../../img/icon/main_icon-hover.png);
}

.menu__item--icon--feed .menu__link:before{
  background-image: url(../../img/icon/feed_icon1.png);
}

.menu__item--icon--feed .menu__link:hover:before{
  background-image: url(../../img/icon/feed_icon-hover.png);
}

.menu__item--icon--wallet .menu__link:before{
  background-image: url(../../img/icon/wallet_icon1.png);
}

.menu__item--icon--wallet .menu__link:hover:before{
  background-image: url(../../img/icon/wallet_icon-hover.png);
}

.menu__item--active.menu__item--icon--main .menu__link:before{
  background-image: url(../../img/icon/main_icon-hover.png);
}

.menu__item--active.menu__item--icon--feed .menu__link:before{
  background-image: url(../../img/icon/feed_icon-hover.png);
}

.menu__item--active.menu__item--icon--wallet .menu__link:before{
  background-image: url(../../img/icon/wallet_icon-hover.png);
}